.col-7 {
    width: 63%;
}
.col-5 {
    width:35%;
}
.col-6{
    width: 50%;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    
}
.border-1 {
    border: 1px solid #333;
}
.gap-2 {
    column-gap: 10px;
}
.p-fixed {
    position: fixed;
    right: 10px;
}
.ml-2 {
    margin-left: 10px;
}
.p-3{
    padding: 50px;
}
.just-cont-bet {
    justify-content:space-around;
}

.mb-2{
    margin-bottom: 15px;
}

.col-12 {
    width: 100%;
}
.min-h-2 {
    min-height: 400px;
}
.bg{
    background-color: #80808012;
}
.h200{
    height: 200px;
}
.postImg{
    width: 600px;
    height: 400px;
    margin-left: 40px;
}
.right_arrow{
    margin-left: 30px;
}
.disable{
    pointer-events: none;
}
.cursor{
    cursor: pointer;
}
.mt-10{
    margin-top: 10px;
}
.mt-70{
    margin-left: 70px;
}
.mt-50{
    margin-left: 50px;
}
.spinner__loading {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}